<html>

<head>
  <script src="https://unpkg.com/vue"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>
  <div id="main">
    <div id="title">
      A A B H A S  &nbspK H A R E L
    </div>
    <hr>
    <div id="searchArea">
      <v-flex md3>
        <v-text-field v-model="input" id="searchBox" label="Search here.."></v-text-field>
      </v-flex>
     
      &nbsp&nbsp{{ output }}
      <span v-if="showResume"><a href="https://www.google.com">resume</a>.</span>
    </div> 

  </div>
</body>

<script src="index.js"></script>
<link rel="stylesheet" href="style.css">
</html>