body{
    margin: 0;
    height: 100%;
    overflow: hidden;
    background-color: rgb(240, 240, 240);
}

#main{
    height: 100%;
    width: 60%;
    margin: 0 20% 30px 20%;
    background-color: rgb(240, 240, 240)
    background-size: 100% 900%;

    /* border-width: 1px;
    border-color: rgb(0, 0, 0);
    border-style: solid; */

    /* opacity: 0.9; */
}

#title{
    font-family: "Source Sans Pro", sans-serif;
    font-size: 50px;
    padding-left: 150px;
}

hr{
    width: 740px;
    margin-left: 60px;
    margin-top: -5px;
    border-color: rgb(59, 59, 59);
}

#searchArea{
    font-family: 'Trebuchet MS';
    font-size: 25px;
    font-weight: bold;
    padding-top:50px;
    padding-left: 60px;
}

#searchBox{
    font-size: 20px;
    font-family: 'Trebuchet MS';
}

#searchBox:focus{
    outline: none;
}

#responseArea{
    text-align: center;
    padding-top: 100px;
}

#aboutMeArea{
    padding:20px 60px 0 60px;
    font-family: 'Trebuchet MS';
    font-size: 20px;
}

#main img{
    height: 200px;
    width: 200px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 30px;
    margin-left: 320px;
}

#logoArea{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.fa{
    color: steelblue;
    padding:3px;
}

.fa:hover{
    color:rgb(48, 87, 119);
}
